{% extends "base.html" %}

{% block content %}
<h1>{{state}}</h1>
<p>
	<form method="post">
		<a><font color="black"> Поиск по названию: </font></a>
		<input name="text">
		<input type="submit" class="btn btn-primary" name="search" value="🔍 Поиск" >
	</form>
</p>
<p><form method="post">
	<a><font color="black"> Сортировка: </font></a>
	{% if state != "Новые треки" %}
		<input type="submit" class="btn btn-link" name="new" value="Новые треки" >
	{% else %}
		<input type="submit" class="btn btn-info" name="new" value="Новые треки" >
	{% endif %}
	{% if state != "По прослушиваниям" %}
		<input type="submit" class="btn btn-link" name="views" value="По прослушиваниям" >
	{% else %}
		<input type="submit" class="btn btn-info" name="views" value="По прослушиваниям" >
	{% endif %}
	{% if state != "По лайкам/дизлайкам" %}
		<input type="submit" class="btn btn-link" name="likes" value="По лайкам/дизлайкам" >
	{% else %}
		<input type="submit" class="btn btn-info" name="likes" value="По лайкам/дизлайкам" >
	{% endif %}
	{% if current_user.is_authenticated %}
	{% if state != "Мои треки" %}
		<input type="submit" class="btn btn-link" name="my" value="Мои треки" >
	{% else %}
		<input type="submit" class="btn btn-info" name="my" value="Мои треки" >
	{% endif %}
	{% endif %}
</form></p>
<div class="list_music">
	<script src="{{ url_for('static', filename='js/load_music.js') }}"></script>
</div>
{% endblock %}